.pf-terrain-table {
	background-color: white;
	width: 90%;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
}

table.pf-terrain-table td {
	text-align: center;
	padding: 8px 3px;
	border: 1px solid #3d3d3d;
	background-color: lightyellow;
}

.pf-is-path {
	color: green;
	background-color: yellowgreen !important;
}
