<html>
    <head>
        <title>Python Test Apps</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/gallery.css">
        <link rel="stylesheet" href="static/pathfinder.css">
    
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular-route.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.2/ui-bootstrap-tpls.min.js"></script>
        <script src="static/app.js"></script>
        <script src="static/controllers.js"></script>
        <script src="static/services.js"></script>
    </head>
    <body ng-app="TestApp" ng-controller="MainController">
        <nav class="navbar navbar-inverse navbar-fixed-top fg-navbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" ng-init="navCollapsed = true"
                            ng-click="navCollapsed = !navCollapsed" data-target="#navHeaderCollapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#/gallery" class="navbar-brand fg-app-title">Python Test Apps</a>
                </div>
                <div class="collapse navbar-collapse" id="navHeaderCollapse" uib-collapse="navCollapsed">
                    <ul class="nav navbar-nav">
                        <li ng-class="{active: getView('/gallery')}"><a href="#/gallery">Photo Gallery</a></li>
                        <li ng-class="{active: getView('/pathfinder')}"><a href="#/pathfinder">Pathfinder</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Content Here -->
        <div class="container">
            <ng-view></ng-view>
        </div>
    </body>
</html>
